$app-blue: #228DFF;
$app-red: #FF1177;
$app-white: #ffffff;
$app-black: #222222;

/*=====================================================================================================*/
// GENERAL
/*=====================================================================================================*/

.blana {
    text-align: initial; 
    position: relative;
    width: 100%;
}

/*=====================================================================================================*/
// BLANA TEXT
/*=====================================================================================================*/

@import "./Blana/BlanaText/blana-text.scss";

/*=====================================================================================================*/
// BLANA NUMERIC
/*=====================================================================================================*/

@import "./Blana/BlanaNumeric/blana-numeric.scss";

/*=====================================================================================================*/
// BLANA INTERVAL
/*=====================================================================================================*/

@import "./Blana/BlanaInterval/blana-interval.scss";

/*=====================================================================================================*/
// BLANA CAROUSEL
/*=====================================================================================================*/

@import "./Blana/BlanaCarousel/blana-carousel.scss";

/*=====================================================================================================*/
// BLANA SELECT
/*=====================================================================================================*/

@import "./Blana/BlanaSelect/blana-select.scss";

/*=====================================================================================================*/
// BLANA SELECT
/*=====================================================================================================*/

@import "./Blana/BlanaSubmit/blana-submit.scss";