.header {

    width: 100%;
    padding-top: 30px;
    display: flex;
    align-items: center;

    .logo {
        margin-left: 60px;
    }

    .navbar {
        margin-left: auto;
        margin-right: 60px;
        margin-top: 12px;
    }
}

@import "./logo.scss";
@import "./navbar.scss";